In [2]:
# import data from csv file
import pandas as pd
data = pd.read_csv('bts_worldwide_artist.csv')
data.head()

         Week  BTS  Taylor Swift  Ariana Grande  Justin Bieber  Beyonce
0  29/12/2019   28             7              8             11        6
1    5/1/2020   23             6              7             15        6
2   12/1/2020   22             5              7             11        6
3   19/1/2020   25             6              7              9        6
4   26/1/2020   25             9             13             14        7

In [5]:
# convert data from wide to long format
data_long = pd.melt(data, id_vars = ['Week'], var_name = 'artist', value_name = 'search_popularity_trends')
data_long.head()

         Week artist  search_popularity_trends
0  29/12/2019    BTS                        28
1    5/1/2020    BTS                        23
2   12/1/2020    BTS                        22
3   19/1/2020    BTS                        25
4   26/1/2020    BTS                        25

In [6]:
# export data to new csv file
data_long.to_csv('bts_worldwide_artist_long.csv', index = False)